ai_lead_qualification_agent.json
{
  "name": "ai_lead_aualification_agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2f587a6a-ea28-4f1f-a9e4-b4f0f9573d80",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0aa3bc77-c891-4594-8aea-5bab2b12d78f",
      "name": "Webhook",
      "webhookId": "2f587a6a-ea28-4f1f-a9e4-b4f0f9573d80"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Lead Qualification Assistant.\n\nAnalyze the business lead given below.\n{{ JSON.stringify($json.body) }}\nEvaluate:\n\n- Lead Score (0–100)\n- Priority (High, Medium, Low)\n- Recommended Service\n- Summary\n\nReturn ONLY valid JSON.\n\nRules:\n- leadScore must be a NUMBER, not a string.\n- priority must be one of: High, Medium, Low.\n- recommendedService must be a string.\n- summary must be a concise string.\n\nJSON format:\n\n{\n  \"leadScore\": 0,\n  \"priority\": \"\",\n  \"recommendedService\": \"\",\n  \"summary\": \"\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ec9c9e93-89d6-49ce-b79c-2ec1b8091839",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "adc7f703-7f10-4ab8-a962-7bfe36de0549",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "S56bwQpS4qdK57Gu",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "47917ab9-9842-4a3f-b97d-391871f2c42d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"leadScore\": 0,\n  \"priority\": \"\",\n  \"recommendedService\": \"\",\n  \"reason\": \"\",\n  \"nextAction\": \"\",\n  \"estimatedProjectValue\": \"\",\n  \"summary\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "d529cb0d-e774-44c1-8947-a5f6dde6a9f5",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bc956529-dd6a-421d-a462-edc4d3f7adf7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "514e37121ed93fab39003008eb347c8c7abd65c0be84a7e168b982d6c27c7605"
  },
  "nodeGroups": [],
  "id": "NwCHsIRVrkS2Jvc7",
  "tags": []
}
